/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

:root {
  --white: #fff;
  --black: #333;
  --light-color: #eca43b;
  --dark-color: #491a0a;
  --medium-color: #90440f;
  --lighter-color: #f2e7d8;
  --text-color: #b2b2b2;
  --text-color-2: #2a2a2a;
  --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.3);
  --border: 2px solid rgba(32, 31, 31, 0.5);
  --border-2: 2px solid #b2b2b2;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  border: none;
  outline: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.3s ease-in-out;
}

html {
  scroll-behavior: smooth;
  font-size: 64%;
  overflow-x: hidden;
}

body {
  background-color: #b7b7b7;
}

/* header section */

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--black);
  padding: 1rem 7%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: var(--box-shadow);
  z-index: 10000;
}

header .logo img {
  height: auto;
}

header .navbar a {
  font-size: 1.7rem;
  padding: 0.5rem 1.5rem;
  color: var(--light-color);
  border: 0.1rem solid transparent;
}

header .navbar a.active,
header .navbar a:hover {
  color: var(--white);
  border: 1px solid rgba(203, 170, 124, 0.5);
}

header .icons i {
  cursor: pointer;
  font-size: 1.8rem;
  margin-left: 0.5rem;
  height: 4.5rem;
  width: 4.5rem;
  background-color: var(--light-color);
  line-height: 4.5rem;
  text-align: center;
  color: var(--white);
}

header .icons i:hover {
  color: var(--white);
  background-color: var(--medium-color);
}

header .icons #menu {
  display: none;
}

/* home section */

.home .home-slider .slide {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
}

.home .home-slider .slide1 {
  background: linear-gradient(rgba(0, 0, 0, 0.328), rgba(128, 128, 128, 0.292)),
    url(/images/slideshow-1.jpg);
}

.home .home-slider .slide2 {
  background: linear-gradient(rgba(0, 0, 0, 0.328), rgba(128, 128, 128, 0.292)),
    url(/images/slideshow-2.jpg);
}

.home .home-slider .slide3 {
  background: linear-gradient(rgba(0, 0, 0, 0.328), rgba(128, 128, 128, 0.292)),
    url(/images/slideshow-3.jpg);
}

.home .home-slider .slide4 {
  background: linear-gradient(rgba(0, 0, 0, 0.328), rgba(128, 128, 128, 0.292)),
    url(/images/slideshow-4.jpg);
}

.home .home-slider .slide1,
.home .home-slider .slide2,
.home .home-slider .slide3,
.home .home-slider .slide4 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.home .home-slider .slide .content {
  text-align: center;
  padding-left: 9rem;
}

.home .home-slider .slide .content h3 {
  color: var(--light-color);
  font-size: 2.4rem;
  font-weight: 300;
}

.home .home-slider .slide .content h1 {
  color: var(--text-color);
  font-size: 5rem;
}

.home .home-slider .slide .content p {
  color: var(--lighter-color);
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 1.5;
  padding: 0.5rem 0;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  font-size: 1.7rem;
  font-weight: 600;
  color: var(--lighter-color);
  border: var(--border-2);
  background: transparent;
  cursor: pointer;
  padding: 0.8rem 3rem;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.btn::before {
  content: "";
  width: 100%;
  height: 100%;
  background: var(--light-color);
  z-index: -1;
  position: absolute;
  top: 0;
  left: -100%;
  transition: all 0.5s ease-in-out;
}

.btn:hover.btn::before {
  left: 0;
}

.swiper-pagination-bullet {
  background: var(--light-color) !important;
  width: 15px !important;
  height: 15px !important;
  border-radius: 0 !important;
}

/* About section */

section {
  padding: 8rem 09%;
}

.heading {
  text-align: center;
  color: var(--text-color-2);
  font-size: 4.5rem;
  font-weight: 500;
  padding-bottom: 2rem;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.sub-heading {
  text-align: center;
  color: var(--light-color);
  font-size: 2.5rem;
  font-weight: 300;
  padding: 0.5rem 2rem;
  margin-bottom: 4rem;
  background: var(--dark-color);
}

.welcome .box-container {
  display: flex;
  gap: 1.5rem;
}

.welcome .box-container .box {
  width: 33%;
  background: var(--dark-color);
  box-shadow: var(--box-shadow);
  text-align: center;
  padding-bottom: 1%;
}

.welcome .box-container .box image {
  height: 25rem;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.welcome .box-container .box .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.welcome .box-container .box .image:hover img {
  transform: scale(1.02);
  overflow: hidden;
}

.welcome .box-container .box .content {
  padding: 2rem;
  padding-top: 2rem;
}

.welcome .box-container .box .content h3 {
  color: var(--light-color);
  font-size: 2.2rem;
  font-weight: 500;
}

.welcome .box-container .box .content p {
  color: var(--lighter-color);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  padding: 0.5rem 0;
}

/* menu section */

.menu {
  background: url(/images/our-menu-bg-1.png) left top no-repeat,
    url(/images/background.jpg) no-repeat center;
}

.menu .heading {
  color: var(--text-color);
}

.menu .sub-heading {
  background-color: transparent;
}

.menu .menu-container {
  padding: 3rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50rem, 2fr));
  gap: 5rem 10rem;
}

.menu .menu-container .menu-item .item-name {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  margin-top: 0.5rem;
}

.menu .menu-container .menu-item .item-list {
  padding: 0.5rem 0;
}

.menu .menu-container .menu-item .item-name h2 {
  color: var(--light-color);
  font-size: 2.7rem;
  font-weight: 500;
}

.menu .menu-container .menu-item .item-list h3 {
  color: var(--white);
  font-size: 1.99rem;
  font-weight: 500;
  display: inline-block;
}

.menu .menu-container .menu-item .item-list span {
  width: 37%;
  display: inline-block;
  border: 1px dotted var(--text-color);
}

.menu .menu-container .menu-item .item-list ul {
  list-style-type: none;
  display: flex;
  font-size: 1.6rem;
  font-weight: 300;
  padding: 0.8rem 0;
}

.menu .menu-container .menu-item .item-list ul li {
  margin-right: 1rem;
  color: var(--text-color);
}

/* team section */

.our-chef {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.7rem;
}

.our-chef .item .chef-image .img {
  width: 100%;
}

.our-chef .item {
  position: relative;
  z-index: 2;
  overflow: hidden;
}

.our-chef .item::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;
  display: none;
}

.our-chef .item:hover.item::before {
  display: block;
}

.our-chef .item .chef-info {
  position: absolute;
  top: 130%;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  transition: 1s;
  cursor: pointer;
}

.our-chef .item .chef-info h3 {
  color: var(--light-color);
  font-size: 2.5rem;
  font-weight: 500;
  padding: 0.8rem 0;
}

.our-chef .item .chef-info span {
  color: var(--lighter-color);
  font-size: 1.6rem;
  font-weight: 300;
  letter-spacing: 1px;
}

.our-chef .item .chef-info ul {
  list-style-type: none;
  display: flex;
  gap: 2rem;
  padding: 3rem 0;
}

.our-chef .item .chef-info ul li a {
  color: var(--text-color);
  font-size: 2.2rem;
}

.our-chef .item:hover .chef-info {
  top: 0;
}

/* Booking section */

.booking {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.booking .booking-img {
  width: 55%;
  height: 65vh;
  background: url(/images/book-a-table.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding-top: 9rem;
}

.booking .booking-form {
  background: var(--dark-color);
  width: 45%;
  height: 65vh;
  padding: 9rem 7%;
}

.booking .booking-form h1 {
  color: var(--text-color);
}

.booking .form-wrapper {
  display: flex;
  gap: 3rem;
  width: 100%;
}

.booking .booking-form form input,
.booking .booking-form form select {
  display: block;
  margin: 2rem 0;
  width: 100%;
  background: none;
  border-bottom: 0.1rem solid var(--lighter-color);
  color: var(--text-color);
  font-size: 1.8rem;
  font-weight: 300;
}

.booking .booking-form form input::placeholder {
  color: #b7b3b3;
}

/* blog section */

.blog .box-container .box {
  background: var(--white);
}

.blog .box-container .box .blog-img {
  width: 100%;
  height: 90vh;
  object-fit: cover;
}

.blog .content {
  text-align: left;
  position: relative;
}

.blog .content h3,
.blog .content p,
.blog .content a {
  color: var(--text-color-2) !important;
}

.blog .content a {
  font-size: 14px;
  display: inline-block;
  padding-top: 1rem;
  text-decoration: none;
}

.blog .content a:hover {
  color: var(--medium-color) !important;
  text-decoration: underline;
}

.blog .content img {
  position: absolute;
  right: 0;
  bottom: 0;
  opacity: 0.5;
}

.blog .content .post-body-img-1 {
  width: 90px;
}

.blog .content .post-body-img-2 {
  width: 60px;
}

.blog .content .post-body-img-3 {
  width: 100px;
}

/* footer section */

.footer {
  background: var(--dark-color);
  text-align: center;
  color: var(--text-color);
  font-size: 1.3rem;
}

.footer .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 2fr));
  gap: 4rem;
  color: var(--text-color);
  border-bottom: 1px solid var(--lighter-color);
  padding: 4rem 0;
}

.footer .container h3 {
  font-size: 1.5rem;
  color: var(--lighter-color);
  padding-bottom: 0.8rem;
}

.footer .container div {
  padding: 0 7rem;
}

.footer .container input {
  width: 100%;
  padding: 0.5rem 0.8rem;
  border: 1px solid var(--text-color);
  background: transparent;
  border-radius: 20px;
}

.footer .container input::placeholder {
  color: var(--lighter-color);
}

.footer .container ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

.footer .container ul li a {
  color: var(--text-color);
  margin-left: 10px;
  font-size: 28px;
  border: none;
  transition: color 0.3s;
}

.footer .container ul li a:hover {
  color: var(--lighter-color);
}

.footer .container span {
  display: block;
}

.footer .copyright {
  padding-top: 1rem;
  color: var(--lighter-color);
  font-size: 1.3rem;
  font-weight: 300;
  text-align: center;
}

.footer .copyright a {
  color: var(--lighter-color);
  text-decoration: none;
}

/* custom scroll-bar */

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* moz */

::-moz-scrollbar {
  width: 12px;
}

::-moz-scrollbar-track {
  background: #f1f1f1;
}

::-moz-scrollbar-thumb {
  background: #888;
}

::-moz-scrollbar-thumb:hover {
  background: #555;
}

/* top button */

.topbtn {
  position: fixed;
  bottom: 10%;
  right: 2%;
  width: 40px;
  height: 40px;
  background: var(--medium-color);
  color: var(--text-color);
  z-index: 9999;
  cursor: pointer;
}

.topbtn i {
  font-size: 2.5rem;
}

.topbtn:hover {
  background: var(--lighter-color);
  color: var(--dark-color);
}

/* responsive design */

@media screen and (max-width: 1500px) {
  .booking .booking-img {
    width: 55%;
    height: 130vh;
  }

  .booking .booking-form {
    width: 45%;
    height: 130vh;
  }
}

@media screen and (max-width: 1300px) {
  .booking .booking-img {
    width: 55%;
    height: 100vh;
  }

  .booking .booking-form {
    width: 45%;
    height: 100vh;
  }
}

@media screen and (max-width: 991px) {
  html {
    font-size: 50%;
  }

  header {
    padding: 1rem 2rem;
  }

  header .logo img {
    height: 6rem;
  }

  .menu .menu-container {
    grid-template-columns: repeat(auto-fill, minmax(30rem, 2fr));
  }

  .menu .menu-container .menu-item .item-list span {
    width: 15%;
  }

  .blog .box-container .box .blog-img {
    width: 100%;
    height: 280px;
    object-fit: cover;
  }
}

@media screen and (max-width: 768px) {
  header .logo img {
    height: 6rem;
  }

  header .icons #menu {
    display: inline-block;
  }

  header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #eee;
    border-top: var(--border);
    border-bottom: 0.1rem solid rgba(203, 170, 124, 0.2);
    padding: 1rem;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  header .navbar a {
    display: block;
    padding: 1.5rem;
    margin: 1rem;
    font-size: 2rem;
    background-color: var(--black);
  }

  /* slide */

  .home .home-slider .slide {
    justify-content: center;
    height: 80vh;
  }

  .home .home-slider .slide .content {
    padding: 0;
  }

  .home .home-slider .slide .content h1 {
    font-size: 7rem;
  }

  /* about */

  .welcome .box-container {
    flex-wrap: wrap;
  }

  .welcome .box-container .box {
    width: 100%;
  }

  /* booking */

  .booking .booking-img {
    width: 0;
  }

  .booking .booking-form {
    width: 100%;
    height: 80vh;
  }

  .booking .booking-form .form-wrapper {
    display: block;
  }

  /* blog */

  .blog .box-container .box .blog-img {
    width: 100%;
    height: 40vh;
    object-fit: cover;
  }

  .blog .content img {
    width: 45px;
  }
}
